<form class="space-y-4" [formGroup]="addressForm">
  <div>
    <label for="street" class="block text-sm font-medium text-gray-700">Rua</label>
    <input type="text" id="street" formControlName="street" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
  </div>
  <div>
    <label for="number" class="block text-sm font-medium text-gray-700">Número</label>
    <input type="text" id="number" formControlName="number" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
  </div>
  <div>
    <label for="complement" class="block text-sm font-medium text-gray-700">Complemento</label>
    <input type="text" id="complement" formControlName="complement" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
  </div>
  <div>
    <label for="city" class="block text-sm font-medium text-gray-700">Cidade</label>
    <input type="text" id="city" formControlName="city" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
  </div>
  <div>
    <label for="state" class="block text-sm font-medium text-gray-700">Estado</label>
    <input type="text" id="state" formControlName="state" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
  </div>
  <div>
    <label for="zipCode" class="block text-sm font-medium text-gray-700">CEP</label>
    <input type="text" id="zipCode" formControlName="zipCode" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
  </div>
  <div class="flex justify-end">
    <button (click)="onSubmit()" type="button" class="px-6 py-3 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm">
      Salvar Endereço
    </button>
  </div>
</form>