<div class="p-4">
  <h2 class="text-2xl font-bold mb-4">Carrinho de Compras</h2>
  <div *ngIf="cartItems.length; else emptyCart">
    <div *ngFor="let item of cartItems" class="flex items-center mb-4">
      <img [src]="item.image" alt="{{ item.title }}" class="w-16 h-16 object-cover rounded-lg" (error)="onImageError($event)">
      <div class="ml-4">
        <h3 class="text-lg font-semibold">{{ item.title }}</h3>
        <p>Preço: ${{ (item.price * item.quantity) }}</p>
        <p>Quantidade: 
          <button *ngIf="item.quantity > 1" class="px-2 py-1 bg-gray-200 rounded-md mr-2" (click)="decreaseQuantity(item)">-</button>
          {{ item.quantity }}
          <button class="px-2 py-1 bg-gray-200 rounded-md ml-2" (click)="increaseQuantity(item)">+</button>
        </p>
      </div>
      <button class="ml-auto px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:text-sm"
        (click)="removeFromCart(item)">
        Remover
      </button>
    </div>
    <div class="text-right font-bold">
      Total: ${{ getTotal() }}
    </div>
    <button class="mt-4 px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm"
      [routerLink]="['product/checkout']">
      Ir para o Checkout
    </button>
  </div>
  <ng-template #emptyCart>
    <p>O carrinho está vazio.</p>
  </ng-template>
</div>