<header class="bg-white size-full">
  <nav class="mx-auto flex items-center justify-between p-6 " aria-label="Global">
    <div class="lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">T-shirts</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Women</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Men</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">About</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Contact</a>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end custom-pl-8-rem">
      <a href="#" class="ml-2 text-sm font-semibold leading-6 text-gray-900"> E-commerce T-Shirts <span aria-hidden="true"></span></a>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">&nbsp;<span aria-hidden="true"></span></a>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900"><i class="pi pi-search"></i><span aria-hidden="true"></span></a>
      <a href="#" class="ml-8 text-sm font-semibold leading-6 text-gray-900"><i class="pi pi-shopping-cart mr-4" pBadge style="font-size: 1.5rem;" value="2"></i><span aria-hidden="true"></span></a>
      <a href="#" class="ml-6 mr-4 text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</header>
