<header class="bg-white size-full">
  <nav
    class="mx-auto flex items-center justify-between p-6"
    aria-label="Global"
  >
    <div class="lg:flex lg:gap-x-12">
      <a
        [routerLink]="['/product-catalog']"
        class="text-sm font-semibold leading-6 text-gray-900"
        >T-shirts</a
      >
      <a [routerLink]="['/about']" class="text-sm font-semibold leading-6 text-gray-900"
        >About</a
      >
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end custom-pl-8-rem">
      <a
        [routerLink]="['/home']"
        class="text-sm font-semibold leading-6 text-gray-900"
      >
        E-commerce T-Shirts <span aria-hidden="true"></span
      ></a>
    </div>
    <div class="lg:flex lg:flex-1 lg:justify-end">
      <a
        role="button"
        (click)="op.toggle($event); onCartPanelOpened()"
        class="ml-8 text-sm font-semibold leading-6 text-gray-900"
        ><i class="pi pi-shopping-cart mr-4 text-sm"></i
        ><span aria-hidden="true">
          <p-overlayPanel styleClass="custom-overlay-panel" #op>
            <app-cart></app-cart>
          </p-overlayPanel></span
      ></a>
      <button
        *ngIf="!Logged"
        role="button"
        (click)="onClickLogin()"
        class="ml-6 mr-4 text-sm font-semibold leading-6 text-gray-900"
      >
        Log in <span aria-hidden="true">&rarr;</span>
      </button>
      <button *ngIf="Logged">
        <i class="pi pi-user"></i>
      </button>
    </div>
  </nav>
</header>
